html {
	font-size:62.5%;
}

/*------ Color Systems ------*/

.c-blk {
	color: #23282e;
}

.c-wht {
	color: #fff;
}

.c-bg-blk {
	background-color: #23282e;
}

.c-bg-wht {
	background-color: #fff;
}

.c-bg-wht-a { 
	background: rgba(255,255,255,0.8);

}

.alp-80 {
	opacity: 0.8;
}


/*------ Typography ------*/
body {
	font-family:'Univers W01', Times, sans-serif;
}

/* Mobile */
@media (min-width: 320px){
	
	h2 {
		font-weight: 800;
		font-size: 3rem;
		font-style: normal;
	}

	h3 {
		font-weight: 700;
		font-size: 1.8rem;
		font-style: normal;
	}

	h4 {
		font-weight: 700;
		font-size: 1.5rem;
		font-style: normal;
	}

	h5 {
		font-weight: 700;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	p {
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 2rem;
		font-style: normal;
	}

	.p-footer {
		font-weight: 200;
		font-size: 1.2rem;
		font-style: normal;
	}

	.p-fine-print {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.p-fine-heavy {
		font-weight: 600;
	}

	.p-aside {
		font-weight: 200;
		font-size: 1.2rem;
	}

	.p-caption {
		font-weight: 200;
		font-size: 1.3rem;
	}

	ul {
		font-weight: ;
		font-size: 1.8rem;
		list-style: none;
		line-height: 2.4rem;
	}

	nav > div > ul {
		line-height: 3rem;
	}

}


/* Tablet & Desktop */
@media (min-width: 768px) {
	
	h2 {
		font-weight: 800;
		font-size: 2.4rem;
		font-style: normal;
	}

	h3 {
		font-weight: 700;
		font-size: 1.8rem;
		font-style: normal;
	}

	h4 {
		font-weight: 700;
		font-size: 1.4rem;
		font-style: normal;
	}

	h5 {
		font-weight: 700;
		font-size: 1.5rem;
		text-transform: uppercase;
	}

	p {
		font-weight: 400;
		font-size: 1.3rem;
		font-style: normal;
		line-height: 1.8rem;
	}

	.p-footer {
		font-weight: 200;
		font-size: 1.3rem;
		font-style: normal;
		line-height: 1.8rem;
	}

	.p-fine-print {
		font-weight: 200;
		font-size: 1.3rem;
	}

	.p-fine-heavy {
		font-weight: 600;
	}

	.p-caption {
		font-weight: 200;
		font-size: 1.3rem;
	}

	ul {
		font-size: 1.2rem;
		list-style: none;
		line-height: 2rem;
	}



	nav > div > ul {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-end;
		align-content: flex-end;
		width:30rem;
		font-size: 1.2rem;
		list-style-type: none;
		line-height: 2rem;
	}
}

/* Global Typography */

.txt-lft {
		text-align: left;
	}

a:link {
	border-bottom: 1px solid;
	padding-bottom: 0.2rem;
	color: #23282e;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #23282e;
	font-weight: 400;
	border-bottom: none;
}

a:visited {
	color: #23282e;
}

/*------ Interactive ------*/

.portfolio-link {
	-webkit-filter: grayscale (0.5);
	-webkit-transition: 0.2s;
	transition-timing-function: ease;
}

.portfolio-link:hover {
	-webkit-filter: grayscale (0.5);
}



/*------ Decoration ------*/

.brdr-1 {
	border: solid;
	border-width: 0.1rem;
}


/*------ Structural Elements ------*/

.just-cont {
	display: flex;
	justify-content: center;
}


/*  Mobile  */
@media (min-width: 320px) {
	.m-hr-thk {
		border: none;
		height: 0.4rem;
		width: auto;
		min-width: 4rem;
	}

	.m-mrgn-no {
		margin: 0;
	}

	.m-mrgn-no-top {
		margin-top: 0;
	}

	.m-mrgn-no-bot {
		margin-bottom: 0;
	}

	.m-pad-all-2p5 {
		padding: 2.5rem;
	}

	.m-pad-top-2p5 {
		padding-top: 2.5rem;
	}

	.m-pad-bot-2p5 {
		padding-bottom: 2.5rem;
	}

	.m-pad-xcpt-top-2p5 {
		padding-top: 0;
		padding-right: 2.5rem;
		padding-bottom: 2.5rem;
		padding-left: 2.5rem;
	}

	.m-pad-all-3p5 {
		padding: 3.5rem;
	}

	.m-mrgn-top-0p5 {
		margin-top: 0.5rem;
	}

	.m-mrgn-top-1 {
		margin-top: 1rem;
	}

	.m-pad-top-2 {
		padding-top: 2rem;
	}

	.m-pad-bot-1 {
		padding-bottom: 1rem;
	}

	.m-pad-top-4 {
		padding-top: 4rem;
	}

	.m-pad-lft-5 {
		padding-left: 5rem;
	}

	.m-pad-rgt-5 {
		padding-right: 5rem;
	}

	.m-pad-no {
		padding: 0;
	}
}

/*  Tablet & Desktop  */
@media (min-width: 768px) {

	.hr-thk {
		border: none;
		height: 0.4rem;
		width: auto;
		min-width: 16rem;
	}

	.mrgn-top-auto {
		margin-top: auto;
	}

	.mrgn-bot-auto {
		margin-bottom: auto;
	}

	.mrgn-no {
		margin: 0;
	}

	.mrgn-no-top {
		margin-top: 0;
	}

	.mrgn-no-bot {
		margin-bottom: 0;
	}

	.mrgn-no-lft {
		margin-left: 0;
	}

	.mrgn-no-rgt {
		margin-right: 0;
	}

	.mrgn-side-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.mrgn-top-0p5 {
		margin-top: 0.5rem;
	}

	.mrgn-bot-0p5 {
		margin-bottom: 0.5rem;
	}

	.mrgn-top-1 {
		margin-top: 1rem;
	}

	.mrgn-bot-1 {
		margin-bottom: 1rem;
	}

	.mrgn-top-1p5 {
		margin-top: 1.5rem;
	}

	.mrgn-top-2 {
		margin-top: 2rem;
	}

	.mrgn-lft-2 {
		margin-left: 2rem;
	}

	.mrgn-rgt-2 {
		margin-right: 2rem;
	}
	
	.mrgn-top-4 {
		margin-top: 4rem;
	}

	.mrgn-top-only-10 {
		margin: 10rem 0 0 0;
	}
	
	.mrgn-lft-4p5 {
		margin-left: 4.5rem;
	}

	.mrgn-rgt-4p5 {
		margin-right: 4.5rem;
	}

	.mrgn-lft-10 {
		margin-left: 10rem;
	}

	.mrgn-rgt-10 {
		margin-right: 10rem;
	}

	.mrgn-top-30 {
		margin-top: 30rem;
	}

/* Padding */

	.pad-no {
		padding: 0;
	}
	
	.pad-all-2p5{
		padding: 2.5rem;
	}

	.pad-all-5{
		padding: 5rem;
	}

	.pad-bot-0p5 {
		padding-bottom: 0.5rem;
	}

	.pad-top-2p5 {
		padding-top: 2.5rem;
	}

	.pad-xcpt-top-2p5 {
		padding-top: 0;
		padding-right: 2.5rem;
		padding-bottom: 2.5rem;
		padding-left: 2.5rem;
	}

	.pad-xcpt-bot-2p5 {
		padding-top: 2.5rem;
		padding-right: 2.5rem;
		padding-bottom: 0;
		padding-left: 2.5rem;
	}

	.pad-rgt-1 {
		padding-right: 1rem;
	}

	.pad-bot-1 {
		padding-bottom: 1rem;
	}

	.pad-lft-2p5 {
		padding-left: 2.5rem;
	}

	.pad-rgt-2p5 {
		padding-right: 2.5rem;
	}

	.pad-lft-10 {
		padding-left: 10rem;
	}

	.pad-rgt-10 {
		padding-right: 10rem;
	}

	.pad-big-top-30 {
		padding-top: 30rem;
	}

}



/*--------------------- Containers ---------------------*/
.body {
	width: 100vw;
}

/*  Mobile  */

@media (min-width: 320px) {

	.m-nav {
	}

	.m-top-fold {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}


	.m-wrapper-flex-column {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		max-width: 100vw;
	}

	.m-cont-block-half {
		width: 100vw;
	}

	.img-container {
		max-width: 100%;
	}

	#body-of-work {
		display: flex;
		flex-wrap: wrap;
		width: 100vw;
	}

	.m-portfolio-fw {
		display: inline-flex;
		justify-content: center;
		align-content: center;
		height: 40rem;
		width: 100vw;	
	}
}


/*  Tablet  */

@media (min-width: 415px) {
	.t-top-fold {
		background: #fff;
	}
}


/*  Desktop  */

@media (min-width: 769px) {

	.wrapper-flex-main {
		display: flex;
		flex-direction: column;
		max-width: 90rem;
		margin: 0 auto 0 auto;
	}

	.wrapper-flex-main-full-vw {
		display: flex;
		flex-direction: column;
		width: 100vw;
		margin: 0 auto 0 auto;
	}

	.wrapper-nav {
		max-width: 90rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-end;
	}

/* Centers 1/2 and Full Container Blocks within */
	.wrapper-flex-fw {
		display: inline-flex;
		max-width: 90rem;
	}

	.wrapper-algn-vrt {
		width: 100%;
		height: 100%;
		display: flex;
		align-content: center;
	}

	nav {
		max-height: 10rem;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
	}

	/* Portfolio Containers */
	.cont-block-half {
		width: 40rem;
	}

	.cont-block-full {
		width: 90rem;
	}

	.cont-block-full-vw {
		width: 100vw;
	}
	
	.div-cntr-vert {
		margin: auto 0 auto 0;
	}
	/* Title Container for equal div spacing below */
	.cont-title {
		width: 100%;
	}

	/* Resizes Image to Container*/
	.img-container {
		max-width: 100%;
	}

	.top-fold {
		background: url("../img/Mike-Main-Image-05.jpg"); 
		background-size: cover;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
	}

	#bottom-fold {
		display: inline-flex;
		justify-content: center;
	}

	.intro {
		max-width: 40rem;
	}

	.portfolio-fw {
		display: inline-flex;
		justify-content: center;
		align-content: center;
		height: 40rem;
		width: 100vw;	
	}


	footer {
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.footer-wrap {
		width: 86rem;
	}

}


/*------ Portfolio Links ------*/

.logo {
	object-fit: contain;
}

.bg-curated {
	background: #3e3e44;
}

.logo-arosteguy {
	background: #fff;
}

.logo-skinlove {
	background: #df2830;
}

.logo-comomo {
	background: #384049;
}

.logo-obsidian {
	background: #1a1e25;
}

.logo-cobble {
	background: #fff;
}