html {
	font-size:62.5%;
}

/*------ Color Systems ------*/

.c-blk {
	color: #23282e;
}

.c-wht {
	color: #fff;
}

.c-bg-blk {
	background-color: #23282e;
}

/*------ Typography ------*/


/* Mobile */
@media (min-width: 320px), (min-width: 320px){
	
	h1 {
		font-family:'Univers W01', Times, sans-serif;
		font-weight: 800;
		font-size: 3rem;
		font-style: normal;
	}

	p {
		font-family:'Univers W01', Times, sans-serif;
		font-weight: 400;
		font-size: 1.8rem;
		font-style: normal;
	}
}

/* Tablet & Desktop */
@media (min-width: 768px) {
	
	h1 {
		font-family:'Univers W01', Times, sans-serif;
		font-weight: 800;
		font-size: 2.4rem;
		font-style: normal;
	}

	p {
		font-family:'Univers W01', Times, sans-serif;
		font-weight: 400;
		font-size: 1.1rem;
		font-style: normal;
	}
}



/* Basic Typography Styles */

.txt-lft {
		text-align: left;
	}

a:link {
	text-decoration: underline;
	color: #23282e;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #23282e;
}

/*------ Structural Elements ------*/

/*  Mobile  */
@media (min-width: 320px) {
	.m-hr-thk {
		border: none;
		height: 0.8rem;
		width: auto;
		min-width: 8rem;
	}

	.m-mrgn-no {
		margin: 0;
	}

	.m-pad-big-top-20 {
		padding-top: 20rem;
	}

	.m-pad-sml-bot-1 {
		padding-bottom: 1rem;
	}

	.m-pad-med-lft-5 {
		padding-left: 5rem;
	}

	.m-pad-med-rgt-5 {
		padding-right: 5rem;
	}
}

/*  Tablet & Desktop  */
@media (min-width: 768px) {
	.hr-thk {
		border: none;
		height: 0.4rem;
		width: auto;
		min-width: 16rem;
	}

	.mrgn-no {
		margin: 0;
	}

	.pad-big-top-30 {
		padding-top: 30rem;
	}

	.pad-sml-bot-1 {
		padding-bottom: 1rem;
	}

	.pad-med-lft-10 {
		padding-left: 10rem;
	}

	.pad-med-rgt-10 {
		padding-right: 10rem;
	}
}



/*------ Containers ------*/
body {
	height: 100vh;
}
/*  Mobile  */
@media (min-width: 320px) {

#main {
	max-width: 30rem;
	max-height: 20rem;
}

@media (min-width: 768px) {

#main {
	max-width: 40rem;
	max-height: 40rem;
}