html {
	font-size:62.5%;
}

/*------ Color Systems ------*/

.c-blk {
	color: #23282e;
}

.c-wht {
	color: #fff;
}

.c-bg-blk {
	background-color: #23282e;
}

.c-bg-wht {
	background-color: #fff;
}

.c-bg-wht-a { 
	background: rgba(255,255,255,0.8);

}

.alp-80 {
	opacity: 0.8;
}


/*------ Typography ------*/
body {
	font-family:'Univers W01', Times, sans-serif;
}

/* Mobile */
@media (min-width: 320px){
	
	h2 {
		font-weight: 800;
		font-size: 3rem;
		font-style: normal;
	}

	h3 {
		font-weight: 700;
		font-size: 1.8rem;
		font-style: normal;
	}

	h4 {
		font-weight: 700;
		font-size: 1.5rem;
		font-style: normal;
	}

	p {
		font-weight: 400;
		font-size: 1.8rem;
		font-style: normal;
	}

	.p-footer {
		font-weight: 200;
		font-size: 1.3rem;
		font-style: normal;
	}
}


/* Tablet & Desktop */
@media (min-width: 768px) {
	
	h2 {
		font-weight: 800;
		font-size: 2.4rem;
		font-style: normal;
	}

	h3 {
		font-weight: 700;
		font-size: 1.8rem;
		font-style: normal;
	}

	h4 {
		font-weight: 700;
		font-size: 1.4rem;
		font-style: normal;
	}

	p {
		font-weight: 400;
		font-size: 1.3rem;
		font-style: normal;
		line-height: 1.8rem;
	}

	.p-footer {
		font-weight: 200;
		font-size: 1.3rem;
		font-style: normal;
		line-height: 1.8rem;
	}
}



/* Basic Typography Styles */

.txt-lft {
		text-align: left;
	}

a:link {
	text-decoration: underline;
	color: #23282e;
	font-weight: 700;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #23282e;
}

/*------ Structural Elements ------*/

/*  Mobile  */
@media (min-width: 320px) {
	.m-hr-thk {
		border: none;
		height: 0.4rem;
		width: auto;
		min-width: 4rem;
	}

	.m-mrgn-no {
		margin: 0;
	}

	.m-mrgn-no-top {
		margin-top: 0;
	}

	.m-mrgn-no-bot {
		margin-bottom: 0;
	}

	.m-mrgn-xs-top-0p5 {
		margin-top: 0.5rem;
	}

	.m-mrgn-xs-top-1 {
		margin-top: 1rem;
	}

	.m-pad-big-top-20 {
		padding-top: 20rem;
	}

	.m-pad-sml-bot-1 {
		padding-bottom: 1rem;
	}

	.m-pad-med-lft-5 {
		padding-left: 5rem;
	}

	.m-pad-med-rgt-5 {
		padding-right: 5rem;
	}
}

/*  Tablet & Desktop  */
@media (min-width: 768px) {

	.hr-thk {
		border: none;
		height: 0.4rem;
		width: auto;
		min-width: 16rem;
	}

	.mrgn-no {
		margin: 0;
	}

	.mrgn-no-top {
		margin-top: 0;
	}

	.mrgn-no-bot {
		margin-bottom: 0;
	}

	.mrgn-no-lft {
		margin-left: 0;
	}

	.mrgn-no-rgt {
		margin-right: 0;
	}

	.mrgn-xs-top-0p5 {
		margin-top: 0.5rem;
	}

	.mrgn-xs-top-1 {
		margin-top: 1rem;
	}

	.mrgn-xs-bot-1 {
		margin-bottom: 1rem;
	}

	.mrgn-xs-top-1p5 {
		margin-top: 1.5rem;
	}

	.mrgn-sml-top-2 {
		margin-top: 2rem;
	}

	.mrgn-big-top-30 {
		margin-top: 30rem;
	}

	.mrgn-med-lft-10 {
		margin-left: 10rem;
	}

	.mrgn-med-rgt-10 {
		margin-right: 10rem;
	}

	.pad-all-5{
		padding: 5rem;
	}

	.pad-all-3{
		padding: 3rem;
	}

	.pad-xs-bot-0p5 {
		padding-bottom:0.5rem;
	}

	.pad-big-top-30 {
		padding-top: 30rem;
	}

	.pad-sml-bot-1 {
		padding-bottom: 1rem;
	}

	.pad-med-lft-10 {
		padding-left: 10rem;
	}

	.pad-med-rgt-10 {
		padding-right: 10rem;
	}
}



/*------ Containers ------*/

body {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}


/*  Mobile  */

@media (min-width: 320px) {

	.m-wrapper {
		padding: 0 3.5rem 0 3.5rem;
	}

	.m-top-fold {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
	}

	#m-intro {
		max-width: 30rem;
		/*max-height: 20rem;*/
	}
}


/*  Tablet  */
@media (min-width: 415px) {
	.t-body {
		background: #fff;
	}
}


/*  Desktop  */

@media (min-width: 768px) {
	
	.dt-body {
		max-width: 100vw;
		background: url("../img/Mike-Main-Image-05.jpg"); 
		background-size: cover;
		background-repeat: no-repeat;
	}

	.wrapper {
		
		width: 76rem;
	}

	.cont-wdth-30 {
		width: 30rem;
	}

	.top-fold {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
	}

	#bottom-fold {
		display: inline-flex;
		justify-content: center;
	}

	#intro {
		max-width: 36rem;
	}

	#body-of-work {
		display: inline-flex;
		flex-wrap: wrap;
		width: 100vw;
	}

	.portfolio-fw {
		height: 25.2rem;
		width: 100vw;
		background: coral;
		border: solid;
	}

	.contact-social {
		display: inline-flex;
	}

	footer {
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
	}

}


/*------ Portfolio Pieces ------*/

